# NLP 100
## Chapter 2: UNIX Commands
Done with Python

In [2]:
!curl -sO https://nlp100.github.io/data/popular-names.txt
!ls popular-names.txt

popular-names.txt

### 10. Line count
Count the number of lines of the file.

In [9]:
with open('popular-names.txt', 'r') as f:
   print(len(f.readlines()))

2780

### 11. Replace tabs into spaces
Replace every occurrence of a tab character into a space.

In [4]:
with open("popular-names.txt", "rt") as f: # rt is read text mode
	  s = f.read()
with open("popular-names.txt", "wt") as f: # wt is write text mode
    s = s.replace("\t"," ")
    f.write(s)

In [7]:
with open("popular-names.txt", "r") as f: # check replaced
    for i in range(5):
        line = next(f).strip()
        print(line)

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

### 12. col1.txt from the first column, col2.txt from the second colum
Extract the value of the first column of each line, and store the output into col1.txt. Extract the value of the second column of each line, and store the output into col2.txt.

In [32]:
col1, col2 = [], []
with open("popular-names.txt", "r") as f: 
    for x in f:
        col1.append(x.split()[0]) # only first columns
        col2.append(x.split()[1]) # only second columns
        
with open("col1.txt", "w") as f: # write into col1.txt
    for r in col1:
        f.write(r + "\n")
with open("col2.txt", "w") as f: # write into col2.txt
    for r in col2:
        f.write(r + "\n")

In [33]:
with open("col1.txt", "r") as f: # check col1.txt
    for i in range(5):
        line = next(f).strip()
        print(line)

Mary
Anna
Emma
Elizabeth
Minnie

In [19]:
with open("col2.txt", "r") as f: # check col2.txt
    for i in range(5):
        line = next(f).strip()
        print(line)

F
F
F
F
F

### 13. Merging col1.txt and col2.txt
Join the contents of col1.txt and col2.txt, and create a text file whose each line contains the values of the first and second columns (separated by tab character) of the original file.

In [38]:
col1, col2 = [], []
with open("col1.txt", "r") as f: # read col1.txt
    for x in f:
        x = x.strip("\n") # have to get rid of \n
        col1.append(x)
with open("col2.txt", "r") as f: # read col2.txt
    for x in f:
        x = x.strip("\n") # have to get rid of \n
        col2.append(x)

with open("col12.txt", "w") as f:
    for x, y in zip(col1, col2):
        line = x + "\t" + y + "\n"
        f.write(line)

In [40]:
with open("col12.txt", "r") as f: # check col12.txt
    for i in range(5):
        line = next(f).strip()
        print(line)

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

### 14. First N lines
Receive a natural number $N$ and output the first $N$ lines of the file.

In [42]:
n = int(input())
with open("popular-names.txt", "r") as f: 
    for i in range(n):
        line = next(f).strip() # next() function returns the next item from the iterator, strip '\n'
        print(line)

3
Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880

### 15. Last N lines
Receive a natural number $N$ and output the last $N$ lines of the file.

In [57]:
n = int(input())
with open('popular-names.txt', 'r') as f: # read file, to list 
    x = f.readlines()

for i in range(len(x) - n - 1, len(x)): # print last N lines 
    print(x[i], end = "")

5
Oliver M 13389 2018
Benjamin M 13381 2018
Elijah M 12886 2018
Lucas M 12585 2018
Mason M 12435 2018
Logan M 12352 2018

### 16. Split a file into N pieces
Receive a natural number $N$ and split the input file into $N$ pieces at line boundaries.

In [26]:
n = int(input())

with open("popular-names.txt", "r") as f: # read file
    s = f.readlines()
splits = [(len(s) // n) * i for i in range(1, n)]

with open("popular-names-split.txt", "w") as f:
    for i in range(len(s)):
        if i in splits: 
            f.write("split\n") # split 
        f.write(s[i])

with open('popular-names-split.txt', 'r') as f: # read file, to list 
    x = f.readlines()

for i in range(splits[0] - 2, splits[0] + 2): # print to see splits 
    print(x[i], end = "")

5
Robert	M	4020	1907
Charles	M	3884	1907
split
Joseph	M	3844	1907

### 17. Distinct strings in the first column
Find distinct strings (a set of strings) of the first column of the file.

In [37]:
names = []
with open("popular-names.txt", "r") as f: 
    for x in f:
        names.append(x.split()[0]) # only first columns
print(len(set(names)), "different names")

136 different names

### 18. Sort lines in descending order of the third column
Sort the lines in descending numeric order of the third column (sort lines without changing the content of each line).

In [48]:
import pandas as pd
s = []
with open("popular-names.txt", "r") as f:
    for x in f:
        s.append([x.split()[0], x.split()[1], x.split()[2], x.split()[3]]) # make into list 

pn = pd.DataFrame(s, columns = ['Name', 'Gender', 'Number', 'Year']) # make into a DataFrame
pn = pn.sort_values('Number') # sort by third column descending 
pn.head(5)

           Name Gender Number  Year
2689  Charlotte      F  10115  2014
2709     Harper      F  10295  2015
2688    Madison      F  10320  2014
2769     Evelyn      F  10376  2018
601       Helen      F  10479  1910

### 19. Frequency of a string in the first column in descending order
Find the frequency of a string in the first column, and sort the strings by descending order of their frequencies.

In [50]:
from collections import Counter
names = []

with open('popular-names.txt', 'r') as f:
    for x in f:
        names.append(x.split()[0]) # only get first column
    c = Counter(names) # count occurences

c.most_common(5) # get first five frequency

[('James', 118),
 ('William', 111),
 ('John', 108),
 ('Robert', 108),
 ('Mary', 92)]